.ico-20-flag-kr {
  display: inline-flex;
  min-width: 20px;
  height: 15px;
  background: url(../images/icon/20/flag-kr.svg);
}
.ico-20-flag-en {
  display: inline-flex;
  min-width: 20px;
  height: 15px;
  background: url(../images/icon/20/flag-en.svg);
}
.ico-20-flag-jp {
  display: inline-flex;
  min-width: 20px;
  height: 15px;
  background: url(../images/icon/20/flag-jp.svg);
}
.ico-24-ChatTeardropDots {
  display: inline-flex;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/24/ChatTeardropDots.svg);
}
.ico-24-CloudArrowDown {
  display: inline-flex;
  min-width: 20px;
  height: 20px;
  background: url(../images/icon/24/CloudArrowDown.svg);
}
