<footer class="imine-footer">
  <div class="imine-inner">
    <div class="imine-footer__logo">
      <img src="../inc/images/logo-footer.svg" alt="" />
    </div>
    <div class="imine-footer-contents">
      <div class="imine-footer__table">
        <table>
          <colgroup>
            <col style="width: 120px" />
            <col style="width: 460px" />
          </colgroup>
          <tbody>
            <tr>
              <th>CEO</th>
              <td>KIM JOO WON <span class="mx-1">|</span> PARK JUNG WAN</td>
            </tr>
            <tr>
              <th>BIZ NO.</th>
              <td>124-86-46999</td>
            </tr>
            <tr>
              <th>TEL</th>
              <td>+82 2-2064-4359</td>
            </tr>
            <tr>
              <th>FAX</th>
              <td>+82 2-2064-4398</td>
            </tr>
            <tr>
              <th>EMAIL</th>
              <td><a href="mailto:mns@imineskin.com">mns@imineskin.com</a></td>
            </tr>
            <tr>
              <th>ADDRESS</th>
              <td>13F, 60 Mabang-ro Seocho-gu Seoul, Republic of Korea</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="imine-footer__link">
        <a href="">Youtube ↗︎</a>
        <a href="">Instagram ↗︎</a>
        <a href="">Facebook ↗︎</a>
        <br />
        <a href="">개인정보 처리방침</a>
        <a href="">이메일 무단수집거부</a>
      </div>
    </div>
    <div class="imine-footer-foot">
      <div class="imine-footer-copyright">
        Copyright © 2025 iM1NE. All rights reserved.
      </div>
      <!-- <div class="imine-footer-langage">
        <button type="button">
          <i class="ico-20-flag-kr"></i>
          KR
        </button>
        <button type="button">
          <i class="ico-20-flag-en"></i>
          EN
        </button>
        <button type="button">
          <i class="ico-20-flag-jp"></i>
          JP
        </button>
      </div> -->
    </div>
    <div class="imine-footer-floating">
      <button>
        <i class="ico-24-subtract"></i>
        문의하기
      </button>
    </div>
  </div>
</footer>
