<header class="imine-header">
  <div class="imine-header__logo">
    <a href=""><img src="../inc/images/logo.svg" alt="" /></a>
  </div>
  <div class="imine-header-menu">
    <div class="imine-header-gnb">
      <a href=""> 회사소개 </a>
      <a href=""> 사업소개 </a>
      <a href=""> R&D 생산 </a>
      <a href=""> 지속가능 </a>
      <a href=""> 투자정보 </a>
      <a href=""> 홍보센터 </a>
      <a href=""> 인재채용 </a>
      <a href=""> 고객지원 </a>
    </div>
    <div class="imine-header-menu__toggle"></div>
  </div>
</header>
